@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: $ff;
  color: $white;
  background-color: $clr-body;
  padding: 5rem 2rem;

  @include for-desktop {
    min-height: 100vh;
    display: grid;
    place-content: center;
  }
}

.border-radius {
  border-radius: $border-radius;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.main {
  gap: 1.5rem;

  @include for-tablet{
    grid-template-rows: repeat(2, auto);
  }

  @include for-desktop {
    max-width: 68rem;
    grid-template-columns: 1fr 3fr;
  }
}

.profile-card {
  // min-height: 12.5rem;
  background-color: $clr-bgCard;
  .profile-info {
    padding: 2.5rem 0;
    background-color: $clr-profile;
    //!flex properties;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    @include for-desktop {
      flex-direction: column;
      align-items:flex-start;
      padding: 2rem 1.8rem;
      padding-bottom: 4rem;
     
    }

    img {
      display: block;
      width: 4.5rem;
      border: 3px solid $white;
      border-radius: 50%;
    }
    &__title {
      h1 {
        line-height: 1.5;
        font-weight: $fw-300;

        @include for-desktop {
         max-width: 6ch;
         font-size: 1.75rem;
        }
        span {
          color: $paleBlue;
          font-size: initial;
        }
      }
    }
  }

  nav {
    padding: 1.75rem 2.25rem;
    //!flex properties
    justify-content: space-between;


    @include for-desktop {
      height: 7rem;
      padding: 1.25em 1.75em 0 1.75em;
      flex-direction: column;
      align-items: flex-start;
    }

    .nav-item {
      cursor: pointer;
      border: none;
      background: transparent;
      color: $desaturated;

      @include for-desktop {
        font-size: 1.1rem;
      }
      &:hover {
        color: $white;
      }
      &__active {
        color: $white;
      }
    }
  }
}

.activity-cards {
  gap: 1.5rem;
  @include for-tablet{
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-desktop {
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, minmax(0, 15rem));
  }

  .activity-card {
    background-repeat: no-repeat;
    background-position: right 1rem top -12px;
    padding-top: 2.5rem;

    &__work {
      background-color: $clr-work;
      background-image: url(/images/icon-work.svg);
    }

    &__play {
      background-color: $clr-play;
      background-image: url(/images/icon-play.svg);
    }

    &__study {
      background-color: $clr-study;
      background-image: url(/images/icon-study.svg);
    }
    &__exercise {
      background-color: $clr-exercise;
      background-image: url(/images/icon-exercise.svg);
    }

    &__social {
      background-color: $clr-social;
      background-image: url(/images/icon-social.svg);
    }
    &__self {
      background-color: $clr-selfCare;
      background-image: url(/images/icon-self-care.svg);
    }

    .card-content {
      background-color: $clr-bgCard;
      padding: 2rem 1.5rem;
      height: 100%;

      &:hover {
        background-color: $desaturated;
      }
      &__top {
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        h2 {
          font-size: 1.125rem;
        }
        svg:hover {
          cursor: pointer;
          path {
            fill:$white;
          }
        }
      }

      &__bottom {
        align-items: center;
        justify-content: space-between;

        @include for-desktop {
          flex-direction: column;
          align-items: flex-start;
        }
        p:nth-child(1) {
          font-size: 2rem;
          font-weight: $fw-300;

          @include for-desktop {
            margin-bottom: 1rem;
            font-size: 2.5rem;
          }
        }
        p:nth-child(2) {
          color: $paleBlue;

          @include for-desktop {
            font-size: 0.7rem;
          }
        }

      }
    }
  }
}

